<footer class = "footer">
        <div class="footer_phrase">
            <p>Stay with us</p>
        </div>
        <div class="container-fluid">
            <p>Телефон: +7(495)345-67-92</p>
            <p>e-mail: chudesasveta@yandex.ru</p>
        </div>
        <p>&#169; Все права защищены</p>
</footer>
@code {

}
